# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
    tags:
      - '**'
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        game_version: ['classic', 'wrath']

    env:
      WOWI_API_TOKEN: ${{ secrets.WOWI_API_TOKEN }}
      GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
      WAGO_API_TOKEN: ${{ secrets.WAGO_API_TOKEN }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v5

      - name: Get LibHunterPetInfo
        run: |
          mkdir .release
          wget -q -O LibHunterPetInfo.zip https://github.com/Beast-Masters-addons/LibHunterPetInfo/releases/download/v1.6/LibHunterPetInfo-v1.6-${{ matrix.game_version }}.zip
          unzip LibHunterPetInfo.zip -d .release/GFW_HuntersHelper

      - name: WoW Packager
        uses: BigWigsMods/packager@v2.4.3
        with:
          args: -g ${{ matrix.game_version }} -o

      - uses: actions/upload-artifact@v4
        with:
          name: HuntersHelper-${{ matrix.game_version }}
          path: .release